MANIFEST
Setup
dist
build
build-stamp
debian/files
debian/python-pymad.debhelper.log
debian/python-pymad.postinst.debhelper
debian/python-pymad.prerm.debhelper
debian/python-pymad.substvars
debian/python-pymad
.pybuild
madmodule.so
