MANIFEST
Setup
setup.cfg
dist
build
build-stamp
debian/files
debian/python-pymad.debhelper.log
debian/python-pymad.postinst.debhelper
debian/python-pymad.prerm.debhelper
debian/python-pymad.substvars
debian/python-pymad
debian/python-pymad-dbg.debhelper.log
debian/python-pymad-dbg.postinst.debhelper
debian/python-pymad-dbg.prerm.debhelper
debian/python-pymad-dbg.substvars
debian/python-pymad-dbg
debian/python3-pymad.debhelper.log
debian/python3-pymad.postinst.debhelper
debian/python3-pymad.prerm.debhelper
debian/python3-pymad.substvars
debian/python3-pymad
debian/python3-pymad-dbg.debhelper.log
debian/python3-pymad-dbg.postinst.debhelper
debian/python3-pymad-dbg.prerm.debhelper
debian/python3-pymad-dbg.substvars
debian/python3-pymad-dbg
.pybuild
*.pyc
*.so
.pc
debian/patches
debian/.debhelper
/src/pymad.egg-info/
