#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatibility version to use.
export DH_COMPAT=4

PYTHON=python
PYTHON_VERSIONS=2.4 2.3 2.2

build: build-stamp
build-stamp: $(patsubst %,build-stamp-%,$(PYTHON_VERSIONS))
	touch build-stamp

build-stamp-%:
	dh_testdir
	$(PYTHON)$(subst build-stamp-,,$@) config_unix.py --prefix /usr
	$(PYTHON)$(subst build-stamp-,,$@) setup.py build
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp* configure-stamp*
	-$(PYTHON) config_unix.py --prefix /usr
	-$(PYTHON) setup.py clean --all
	-rm Setup
	-rm -rf build
	dh_clean

install: build $(patsubst %,install-%,$(PYTHON_VERSIONS))

v = $(subst install-,,$@)
p = $(PYTHON)$(v)-pymad
d = $(CURDIR)/debian/$(p)

install-%: build-stamp-%
	dh_testdir
	dh_testroot
	# don't clean out the previous pacakge install directories
	#dh_clean -k
	# instead:
	rm -rf $(d)
	dh_installdirs
	$(PYTHON)$(v) setup.py install \
		--skip-build \
		--no-compile \
		--prefix $(d)/usr
		
	-find $(d)/usr -name '.arch-ids' -print0 | xargs -0 rm -rf
	-find $(d)/usr -name '.cvsignore' -print0 | xargs -0 rm -rf

	-find $(d) -name '*.py[co]' -exec rm \{\} \;

	mkdir -p $(d)/usr/share/doc/$(p)

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir -i
	dh_testroot -i
	dh_installdocs -i
	dh_installexamples -i
	dh_installchangelogs -i NEWS
	dh_python -i
	dh_strip -i
	dh_compress -i
	dh_fixperms -i
	dh_installdeb -i
	dh_shlibdeps -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir -a
	dh_testroot -a
	dh_installdocs -a
	dh_installexamples -a
	dh_installchangelogs -a NEWS
	dh_python -a
	dh_link -a
	dh_strip -a
	dh_compress -a
	dh_fixperms -a
	dh_installdeb -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
