#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
export PYBUILD_NAME=pymad
export PYBUILD_BEFORE_CONFIGURE={interpreter} ./config_unix.py --prefix=/usr

%:
	dh $@ --with=python2 --buildsystem=pybuild
